.game-container {
    margin-top: 100px;
    justify-content: center;
}

.right-border {
    border-right: 3px solid black;
}

.bottom-border {
    border-bottom: 3px solid black;
}

.x-hover:hover::after {
    content: 'X';
    opacity: 0.4;
}

.o-hover:hover::after {
    content: 'O';
    opacity: 0.4;
}